//############// SOLID Greys //############//

//============// Solid Dark Greys //============//
@dracula-syntax_black:                                      hsl(0, 0%, 0%);
@wombat-dark-syntax_px-back1:                               hsl(0, 0%, 1%);
@ubik-hackerman-syntax_very-dark-gray:                      hsl(0, 0%, 5%);
@awesome-seti-syntax_very-dark-gray:                        hsl(0, 0%, 7%);
@japan-colors-syntax_sumi:                                  hsl(0, 0%, 11%);
@wombat-dark-syntax_px-back3:                               hsl(0, 0%, 14%);
@monokai_dark-gray:                                         hsl(0, 0%, 16%);
@wombat-dark-syntax_px-back2:                               hsl(0, 0%, 18%);
@atom-monokai-dark_is-focused-line-cursor-line:             hsl(0, 0%, 24%);
@japan-colors-syntax_keshizumi:                             hsl(0, 0%, 26%);
@seti-vs-syntax_current-line-border:                        hsl(0, 6%, 14%);
@monokai_brown-gray:                                        hsl(55, 8%, 26%);
@seti-vs-syntax_current-line:                               hsl(60, 3%, 6%);
@material-monokai-syntax_base02:                            hsl(192, 81%, 14%);
@material-monokai-syntax_base03:                            hsl(192, 100%, 11%);
@seti-bloody-syntax_black:                                  hsl(195, 13%, 6%);
@seti-bloody-syntax_steel-highlight:                        hsl(198, 25%, 21%);
@atom-material-syntax_very-dark-gray:                       hsl(200, 19%, 18%);
@seti-bloody-syntax_yellow-text:                            hsl(203, 17%, 9%);
@oceanic-reef-syntax_syntax-indent-guide-color:             hsl(203, 41%, 23%);
@oceanic-reef-syntax_background-color:                      hsl(203, 62%, 15%);
@oceanic-reef-syntax_syntax-gutter-background-color:        hsl(203, 63%, 14%);
@seti-bloody-syntax_grey-dark:                              hsl(206, 10%, 14%);
@dash-syntax_dark-gray:                                     hsl(208, 18%, 17%);
@inter-dimensional-syntax_obama-suit:                       hsl(208, 49%, 20%);
@monokai-flat_is-focused-selection-region-background-color: hsl(210, 4%, 22%);
@material-monokai-syntax_very-dark-gray:                    hsl(210, 6%, 12%);
@dash-syntax_very-dark-gray:                                hsl(210, 17%, 11%);
@seti-bloody-syntax_black-dark:                             hsl(210, 18%, 4%);
@ubik-hackerman-syntax_dark-gray:                           hsl(210, 25%, 6%);
@improved-chester-atom-syntax_dark-gray:                    hsl(213, 14%, 27%);
@improved-chester-atom-syntax_very-dark-gray:               hsl(214, 21%, 22%);
@awesome-seti-syntax_gray:                                  hsl(216, 8%, 24%);
@awesome-seti-syntax_dark-gray:                             hsl(220, 7%, 17%);
@wombat-dark-syntax_syntax-bg:                              hsl(220, 13%, 18%);
@inter-dimensional-syntax_morty-jeans:                      hsl(221, 34%, 29%);
@80s-pastel-syntax_code-background:                         hsl(222, 11%, 24%);
@atom-gooey-syntax_very-dark-gray:                          hsl(225, 20%, 8%);
@atom-gooey-syntax_gray:                                    hsl(226, 19%, 18%);
@atom-gooey-syntax_dark-gray:                               hsl(227, 18%, 15%);
@an-old-hope-syntax_very-dark-grey:                         hsl(228, 7%, 12%);
@one-dark-vivid-syntax_syntax-bg:                           hsl(230, 12%, 22%);
@dracula-syntax_very-dark-gray:                             hsl(231, 15%, 18%);
@dracula-syntax_dark-gray:                                  hsl(232, 14%, 31%);
@styri-syntax_styri-dark:                                   hsl(232, 20%, 20.5%);
@styri-syntax_syntax-wrap-guide-color:                      hsl(233, 16%, 31%);
@gloom_syntax-gutter-background-color-selected:             hsl(237, 27%, 30%);
@gloom_syntax-wrap-guide-color:                             hsl(238, 24%, 26%);
@gloom_syntax-background-color:                             hsl(238, 25%, 21%);
@inter-dimensional-syntax_starlit-sky:                      hsl(245, 55%, 23%);

//============// Solid Greys //============//
@dracula-syntax_gray:                                       hsl(0, 0%, 40%);
@oceanic-reef-syntax_comment:                               hsl(0, 0%, 43%);
@wombat-dark-syntax_px-comment:                             hsl(0, 0%, 44%);
@atom-monokai-dark_comment:                                 hsl(0, 0%, 47%);
@monokai_gray:                                              hsl(0, 0%, 53%);
@space-cowboy-syntax_comment:                               hsl(0, 0%, 57%);
@dracula-syntax_light-gray:                                 hsl(0, 0%, 60%);
@grey-goo-syntax_gutter-text:                               hsl(0, 0%, 62%);
@wombat-dark-syntax_px-gray:                                hsl(0, 0%, 66%);
@monokai_brown:                                             hsl(50, 11%, 41%);
@space-cowboy-syntax_gray:                                  hsl(60, 3%, 64%);
@japan-colors-syntax_nibi:                                  hsl(120, 1%, 40%);
@awesome-seti-syntax_light-gray:                            hsl(120, 1%, 59%);
@material-monokai-syntax_light-gray:                        hsl(120, 1%, 67%);
@grey-goo-syntax_syntax-gutter:                             hsl(157, 3%, 54%);
@grey-goo-syntax_brackets:                                  hsl(160, 1%, 54%);
@oceanic-reef-syntax_syntax-result-marker-color:            hsl(175, 12%, 37%);
@material-monokai-syntax_base1:                             hsl(180, 7%, 60%);
@material-monokai-syntax_base0:                             hsl(186, 8%, 55%);
@seti-bloody-syntax_grey:                                   hsl(194, 10%, 34%);
@seti-bloody-syntax_grey-light:                             hsl(194, 10%, 48%);
@material-monokai-syntax_base01:                            hsl(194, 14%, 40%);
@material-monokai-syntax_base00:                            hsl(196, 13%, 45%);
@atom-material-syntax_light-gray:                           hsl(197, 31%, 77%);
@seti-bloody-syntax_steel:                                  hsl(199, 20%, 55%);
@improved-chester-atom-syntax_gray:                         hsl(203, 9%, 45%);
@improved-chester-atom-syntax_light-gray:                   hsl(203, 15%, 65%);
@80s-pastel-syntax_gutter-text:                             hsl(205, 8%, 45%);
@japan-colors-syntax_ginnezumi:                             hsl(210, 7%, 60%);
@dash-syntax_light-gray:                                    hsl(210, 14%, 66%);
@dash-syntax_gray:                                          hsl(210, 18%, 42%);
@wombat-dark-syntax_px-select:                              hsl(212, 11%, 34%);
@grey-goo-syntax_blue-gray:                                 hsl(214, 21%, 32%);
@wombat-dark-syntax_px-code:                                hsl(215, 15%, 60%);
@wombat-dark-syntax_mono-2:                                 hsl(220, 9%, 55%);
@wombat-dark-syntax_mono-3:                                 hsl(220, 10%, 40%);
@atom-gooey-syntax_light-gray:                              hsl(227, 18%, 55%);
@an-old-hope-syntax_dark-grey:                              hsl(228, 7%, 29%);
@an-old-hope-syntax_grey:                                   hsl(228, 7%, 44%);
@an-old-hope-syntax_light-grey:                             hsl(228, 7%, 55%);
@grey-goo-syntax_mono-3-unused1:                            hsl(230, 10%, 40%);
@one-dark-vivid-syntax_mono-3:                              hsl(230, 12%, 44%);
@grey-goo-syntax_comment:                                   hsl(230, 16%, 55%);
@one-dark-vivid-syntax_mono-2:                              hsl(230, 24%, 66%);
@grey-goo-syntax_mono-2:                                    hsl(230,  9%, 55%);
@ubik-hackerman-syntax_magenta:                             hsl(232, 14%, 59%);
@styri-syntax_styri-dim:                                    hsl(232, 17%, 40%);
@styri-syntax_syntax-gutter-text-color:                     hsl(233, 17%, 49%);
@styri-syntax_syntax-gutter-text-color-selected:            hsl(233, 26%, 68%);
@atom-gooey-syntax_purple:                                  hsl(248, 85%, 85%);
@dracula-syntax_purple:                                     hsl(265, 89%, 78%);
@material-monokai-syntax_purple:                            hsl(286, 22%, 66%);
@inter-dimensional-syntax_villiager-shirt:                  hsl(300, 5%, 55%);

//============// Solid Light Greys //============//
@monokai_light-gray:                                        hsl(0, 0%, 80%);
@wombat-dark-syntax_px-text:                                hsl(0, 0%, 83%);
@seti-vs-syntax_basic:                                      hsl(0, 0%, 86%);
@awesome-seti-syntax_white:                                 hsl(0, 0%, 94%);
@dracula-syntax_white:                                      hsl(0, 0%, 100%);
@inter-dimensional-syntax_rickskin-1:                       hsl(16, 16%, 82%);
@inter-dimensional-syntax_plumbus-body:                     hsl(19, 80%, 88%);
@inter-dimensional-syntax_rick-skin-2:                      hsl(29, 37%, 86%);
@oceanic-reef-syntax_variable-syntax-parameter:             hsl(30, 100%, 83%);
@80s-pastel-syntax_gutter-text-highlight:                   hsl(40, 100%, 89%);
@80s-pastel-syntax_code-font-color:                         hsl(40, 100%, 91%);
@atom-gooey-syntax_yellow:                                  hsl(41, 100%, 90%);
@material-monokai-syntax_base3:                             hsl(44, 87%, 94%);
@material-monokai-syntax_base2:                             hsl(46, 42%, 88%);
@japan-colors-syntax_shironeri:                             hsl(48, 63%, 97%);
@space-cowboy-syntax_light-gray:                            hsl(60, 2%, 82%);
@dracula-syntax_sandstone:                                  hsl(60, 12%, 79%);
@dracula-syntax_very-light-gray:                            hsl(60, 30%, 96%);
@monokai_ghost-white:                                       hsl(60, 36%, 96%);
@seti-bloody-syntax_white:                                  hsl(60, 50%, 99%);
@inter-dimensional-syntax_mr-poopybutthole-skin:            hsl(60, 86%, 84%);
@japan-colors-syntax_shironezumi:                           hsl(90, 5%, 74%);
@improved-chester-atom-syntax_softgreen:                    hsl(91, 55%, 78%);
@seti-vs-syntax_css-values:                                 hsl(96, 39%, 74%);
@awesome-seti-syntax_very-light-gray:                       hsl(120, 5%, 84%);
@ubik-hackerman-syntax_very-light-gray:                     hsl(140, 3%, 78%);
@inter-dimensional-syntax_jessica-headband:                 hsl(154, 100%, 89%);
@grey-goo-syntax_very-light-gray:                           hsl(160, 4%, 84%);
@material-monokai-syntax_cyan:                              hsl(172, 29%, 75%);
@80s-pastel-syntax_variable-definitions:                    hsl(180, 94%, 93%);
@atom-material-syntax_very-light-gray:                      hsl(180, 100%, 97%);
@inter-dimensional-syntax_mr-jellybean:                     hsl(186, 19%, 79%);
@improved-chester-atom-syntax_very-light-gray:              hsl(201, 31%, 89%);
@80s-pastel-syntax_brackets:                                hsl(201, 57%, 82%);
@dash-syntax_white:                                         hsl(207, 33%, 89%);
@seti-vs-syntax_operators:                                  hsl(210, 8%, 95%);
@wombat-dark-syntax_defaulttext:                            hsl(220, 14%, 71%);
@atom-gooey-syntax_very-light-gray:                         hsl(227, 18%, 85%);
@an-old-hope-syntax_very-light-grey:                        hsl(228, 7%, 81%);
@grey-goo-syntax_mono-1:                                    hsl(230, 5%, 84%);
@one-dark-vivid-syntax_mono-1:                              hsl(230, 60%, 92%);
@styri-syntax_syntax-cursor-color:                          hsl(232, 70%, 87%);
@styri-syntax_styri-bright:                                 hsl(232, 70%, 92%);
@styri-syntax_styri-light:                                  hsl(232, 72%, 90%);
@80s-pastel-syntax_css-code-font-color:                     hsl(235, 80%, 92%);
@dash-syntax_very-light-gray:                               hsl(240, 3%, 78%);
@space-cowboy-syntax_very-light-gray:                       hsl(240, 15%, 92%);
@gloom_syntax-text-color:                                   hsl(255, 33%, 95%);
@inter-dimensional-syntax_cromulon-death-ray:               hsl(282, 100%, 89%);
@inter-dimensional-syntax_fart-pink-orb-light:              hsl(297, 84%, 90%);
@oceanic-reef-syntax_asp:                                   hsl(300, 25%, 75%);
@oceanic-reef-syntax_variable-syntax-other:                 hsl(305, 100%, 90%);
@inter-dimensional-syntax_jessica-lips:                     hsl(357, 40%, 80%);

//############// ALPHA Greys //############//

//============// Alpha Dark Greys //============//

//============// Alpha Greys //============//
@80s-pastel-syntax_selected-line:                           hsla(0, 0%, 0%, .2);
@wombat-dark-syntax_syntax-guide:                           hsla(0, 0%, 83%, .15);
@grey-goo-syntax_selected-line:                             hsla(0, 0%, 100%, .03);
@grey-goo-syntax_guides:                                    hsla(0, 0%, 100%, .04);
@80s-pastel-syntax_invisible:                               hsla(0, 0%, 100%, .1);
@grey-goo-syntax_selected:                                  hsla(0, 0%, 100%, .15);
@oceanic-reef-syntax_syntax-selection-color:                hsla(191, 9%, 62%, 0.24);
@80s-pastel-syntax_guides:                                  hsla(210, 100%, 98%, .04);
@grey-goo-syntax_syntax-guide::                             hsla(230, 5%, 84%, .15);
@one-dark-vivid-syntax_syntax-guide:                        hsla(230, 60%, 92%, .1);
@styri-syntax_syntax-gutter-cursor-line-color:              hsla(232, 100%, 83%, .063);
@styri-syntax_syntax-cursor-line-color:                     hsla(232, 100%, 85%, .04);
@ubik-hackerman-syntax_ubik4:                               hsla(294, 68%, 25%, .18);

//============// Alpha Light Greys //============//
@styri-syntax_syntax-result-marker-color-selected:          hsla(232, 80%, 77%, .38);
@styri-syntax_syntax-selection-color:                       hsla(232, 80%, 80%, .2);
@styri-syntax_syntax-result-marker-color:                   hsla(232, 90%, 77%, .27);
@dash-syntax_operator:                                      hsla(240, 3%, 78%, 0.7);
